# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#eas update --branch preview --message "Descripción de lo que cambiaste" (actualizar)

#solo necesitarás volver a hacer  (generar un nuevo APK) si haces cambios que tocan el "corazón" del teléfono, por ejemplo:eas build

#Si decides usar la cámara del dispositivo.

#Si agregas notificaciones push complejas.

#Si cambias el icono de la aplicación o el nombre que aparece en la pantalla de inicio del celular.

#Si cambias los permisos básicos de Android en el archivo .app.json

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
